.linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    color: white !important;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    background: rgb(3 73 144);
    border-radius: 5px;
    margin-top: 20px;
    margin: 5px;
    text-decoration: none;
}

.linkText {
    color: white !important;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.links:hover .linkText {
    color: rgb(225 226 235);
}

.links:hover {
    background: rgb(0, 100, 200);
    color: rgb(225 226 235);
}

.linkText {
    color: rgb(3 73 144);
}

.links:active {
    background: rgb(181, 218, 255);
}

.links:active .linkText {
    color: rgb(0, 100, 200) !important;
}

.active {
    background: rgb(181, 218, 255) !important;
}

.active .linkText {
    color: rgb(0, 100, 200) !important;
}
