li {
    border-radius: 10px;
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    padding-left: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

li:hover {
    background: gray;
}
