body {
    font-family: Arial;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(3 73 144);
    color: rgb(235 230 238);
}

.leftContainer {
    width: 200px;
    text-align: center;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.initialContainer {
    background-color: rgb(225 226 235);
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 15px; 
}

.initials {
    color: rgb(122 151 187);
    padding-right: 20px;
    margin-top: 3px;
    margin-left: 9.8px;  
}

.greeting {
    margin-top: 20px;
    border-radius: 15px;
}