body {
    font-family: Arial;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(3 73 144);
    color: rgb(235 230 238);
}

.leftContainer {
    font-size: 2em;
    width: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}

.rightContainer div {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5rem 1rem;
}

.initialContainer {
    background-color: rgb(225 226 235);
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 15px;
}

.initials {
    color: rgb(122 151 187);
    padding-right: 10px;
}

.greeting {
    margin-top: 20px;
    border-radius: 15px;
}
