.transactionContainer {
    position: relative;
    width: flex;
    height: 160px;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 30px;
    border: 2px;
    border-style: dashed;
    border-color: rgb(3 73 144);
    background-color: rgb(235 230 238);
    border-radius: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transaction {
    margin: 10px;
    color: #a98bb5;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

textarea:focus, input:focus{
    outline: none;
}

.inputValue {
    border: #a98bb5;
    background-color: rgb(235 230 238);
    font-size: 25px;
    color: rgb(3 73 144);
}

.statusText {
    color: rgb(3 73 144);
    background-color: rgb(235 230 238);
    font-size: 12px;
    border-radius: 4px;
}

.warning {
    color: rgb(195 6 57);
}

.submitButton {
    position: absolute;
    height: 20px;
    width: 80px;
    margin-top: 80px;
}

.button {
    position: absolute;
    margin-top: 20px;
    border: none;
    background-color: rgb(3 73 144);
    color: rgb(235 230 238);
}

.button:hover {
    cursor: pointer;
}
