.create-user {
    padding: 20px;
    display: grid;
    gap: 2rem;
    width: 100%;
    max-width: 400px;
}

.create-user div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.create-user label {
    font-size: 0.8em;
    font-weight: 700;
}

.create-user input {
    accent-color: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.create-user button {
    justify-self: center;
    padding: 0.5rem;
    border: none;
    width: 100%;
    max-width: 300px;
}

.create-user input:focus {
    border: none;
}
