.myCard {
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}

.cardInfo {
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
}

.cardDetailsContainer {
    font-size: 12px;
    color: rgb(122 151 187);
    margin: 20px;
}

.cardDetails {
    display: flex;
    flex-direction: row;
}

.cardDetailLabel {
    flex: 2;
}

.cardDetailActual {
    flex: 1;
    color: rgb(3 73 144);
    text-align: right;
}
