.form-header {
    text-align: center;
    color: #9361a8;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.add-expense-div {
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "add chart"
                        "list list";
}

.add-expense-div form {
    grid-area: add;
}

.add-expense-div label{
    color: rgb(3 73 144);
    font-size: 1.1em;
    margin-bottom: 0;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.row-container .inputContainer {
    width: 50%;
}

.add-expense-div select,
.add-expense-div input {
    color: rgb(3 73 144);
    font-size: 1.2em;
}

.add-expense-div select {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(3 73 144);
}

.add-expense-div select:hover {
    cursor: pointer;
}

.add-expense-div textarea {
    border: 1px solid rgb(3 73 144);
    resize: none;
    font-size: 1em;
    padding: 0.5rem;
}

.expense-list-div {
    grid-area: list;
    overflow-y: auto;
    max-height: 30vh;
    margin: 2rem auto;
    width: 80%;
}

.expense-list {
    overflow-y: auto;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.expense-list th{
    font-size: 1em;
}

.expense-list td {
    font-size: 1.1em;
}

.expense-list td,
.expense-list th {
    border-bottom: black 1px solid;
    padding: 0.5rem 0;
}

.expense-chart {
    grid-area: chart;
    display: flex;
    justify-content: center;
}
