.bodyContainer {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
}

.leftBodyContainer {
    background-color: darkcyan;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.middleBodyContainer {
    background-color: beige;
    flex: 3;
}

.rightBodyContainer {
    background-color: rgb(253 232 233);
    width: 300px;
}
