.bodyContainer {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
    position: relative;
}

.leftBodyContainer {
    background-color: rgb(235 230 238);
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.middleBodyContainer {
    background-color: rgb(235 230 238);
    flex: 3;
}

.rightBodyContainer {
    background-color: rgb(225 226 235);
    width: 400px;
}
