@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*Grid Container*/
.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "left main";
}

.left-container {
    grid-area: left;
}

.main-container {
    grid-area: main;
}
